@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Bold'),
    url(fonts/Gotham-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;  
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-BoldItalic'),
    url(fonts/Gotham-BoldItalic.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: local('Gotham-Book'),
    url(fonts/Gotham-Book.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: local('Gotham-BookItalic'),
    url(fonts/Gotham-BookItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Light'),
    url(fonts/Gotham-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-LightItalic'), 
    url(fonts/Gotham-LightItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Medium'),
    url(fonts/Gotham-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-MediumItalic'),
    url(fonts/Gotham-MediumItalic.woff2) format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Light'), 
    url(fonts/Lato-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bevan';
    src: local('Bevan-Italic'),
    url(fonts/Bevan-Italic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Italic'),
    url(fonts/Lato-Italic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Regular'),
    url(fonts/Lato-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: local('Lato-HairlineItalic'),
    url(fonts/Lato-HairlineItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bevan';
    src: local('Bevan-Regular'),
    url(fonts/Bevan-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Black'),
    url(fonts/Lato-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-LightItalic'),
    url(fonts/Lato-LightItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Bold'),
    url(fonts/Lato-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-BoldItalic'),
    url(fonts/Lato-BoldItalic.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-BlackItalic'),
    url(fonts/Lato-BlackItalic.woff2) format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: local('Lato-Hairline'),
    url(fonts/Lato-Hairline.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
